*
!*/
!.gitignore
!scripts
!scripts/*
!scripts/*/*
!kubejs
!kubejs/*
!kubejs/*/*
!kubejs/*/*/*/*
!kubejs/*/*/*/*/*
!kubejs/*/*/*/*/*/*
!kubejs/*/*/*/*/*/*/*
!kubejs/*/*/*/*/*/*/*/*
!config
!config/*
!config/*/*
!config/*/*/*
!config/*/*/*/*
!config/*/*/*/*/*
!defaultconfigs
!defaultconfigs/*